# üîπ What is Feature Engineering?
Feature Engineering is the process of:

Creating or modifying input data (features) to help the machine learning model work better.

# üîπ Why is it Important?

Raw data is not always useful.

Models need clean, meaningful, numeric inputs.

Feature Engineering helps the model:

Understand the problem better.

Perform well (higher accuracy).

Learn faster.

# üß± Types of Feature Engineering

1. üßπ Handling Missing Data
Real-world data often has empty values.
Common methods:

Fill (Impute):
Fill with average (mean), median, mode, or a fixed value.

Remove Rows/Columns:
If too much data is missing, remove it.

2. üîÅ Encoding Categorical Features
ML models need numbers, not text.

Category	Convert To
Male, Female	0, 1 (Label Encoding)
Red, Green, Blue	[1,0,0], [0,1,0], [0,0,1] (One-Hot Encoding)

3. üéØ Feature Scaling
Makes sure all features are on similar scale.

Example: Age (0‚Äì100), Salary (0‚Äì1,00,000)
Techniques:

Normalization (0 to 1 range)

Standardization (mean=0, std=1)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("placement.csv")

In [4]:
df.head() #top 5 data

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
# Data Dividation
x = df.drop(columns = ['placed']) #Input data
x

    cgpa  resume_score
0   8.14          6.52
1   6.17          5.17
2   8.27          8.86
3   6.88          7.27
4   7.52          7.30
..   ...           ...
95  6.33          6.38
96  8.23          7.76
97  6.65          7.78
98  8.14          5.63
99  6.09          6.61

[100 rows x 2 columns]

In [6]:
y = df['placed'] #Target data
y

0     1
1     0
2     1
3     1
4     1
     ..
95    0
96    1
97    0
98    1
99    0
Name: placed, Length: 100, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 42)

In [ ]:
print("Total DataFrame Shape :",df.shape)
print("-----------------------")
print("-----------------------")

print("Input data (x) shape : ",x.shape)
print("x_train data shape : ",x_train.shape)
print("x_test data shape : ",x_test.shape)
print("-----------------------")
print("Target data (y) shape : ",y.shape)
print("x_train data shape : ",y_train.shape)
print("x_test data shape : ",y_test.shape)
print("-----------------------")

In [ ]:
np.round(x_train.describe(), 2)

# np.round(x_train.describe(), 2)` gives summary statistics (like mean, std, min, max) of the `x_train` data, rounded to 2 decimal places.

In [ ]:
from sklearn.preprocessing import StandardScaler #it is used to do standard deviation values 1

In [ ]:
sc = StandardScaler()

In [ ]:
x_train_sc = sc.fit_transform(x_train) ###fit means learn the parameters and transform means apply on the data.

In [ ]:
x_train_new = pd.DataFrame(x_train_sc, columns = x_train.columns) #converting to dataframe

In [ ]:
np.round(x_train_new.describe(), 2) #2 denotes the numbers after points how many numbers after points