# 1. What is Normalization?

Normalization is a data preprocessing technique that rescales the values of numerical features to a common scale, typically between 0 and 1.

This means that all feature values are transformed so that they lie within the range 0 ≤ normalized value ≤ 1.

# 2. Why Normalize Data?

Features often have different scales:
For example, in a dataset:
Age might range from 1 to 100
Salary might range from 10,000 to 1,000,000

These differing scales can cause problems for many machine learning algorithms that use distance calculations or gradient-based optimization.

Avoid dominance of large-scale features:
Without normalization, features with larger numerical values can dominate the learning process, leading to biased or inaccurate models.

Speeds up convergence:
Normalized data can help optimization algorithms (like gradient descent) converge faster during training.

Improves performance of some ML algorithms:
Algorithms like k-Nearest Neighbors (KNN), Neural Networks, and Support Vector Machines (SVM) are sensitive to the scale of input features.

# 3. How is Normalization Done?

The most common normalization technique is Min-Max Scaling.

# 4. Properties of Normalized Data

Values are bounded between 0 and 1 (inclusive).

Preserves the relative distribution and distances between original data points.

Does not center the data around zero (unlike standardization).

Sensitive to outliers, because extreme values affect the min and max.

# 5. When to Use Normalization?

When your dataset has features with varying scales or units.

When using ML algorithms that rely on distance calculations or gradients, such as:

K-Nearest Neighbors (KNN)

Neural Networks

Support Vector Machines (SVM)

Gradient descent based algorithms (e.g., Linear Regression, Logistic Regression)

When your data does not follow a normal distribution.

# 6. When NOT to Use Normalization?
If your dataset contains outliers: Outliers distort the min and max values, causing most data to be squeezed into a narrow range.

When your algorithm assumes data to be centered around zero or normally distributed: In this case, standardization is preferred.

In [1]:
# Step 1: Import pandas for data handling and MinMaxScaler for normalization
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Step 2: Load Titanic dataset from seaborn library (sample dataset)
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# Step 3: Pick only numerical columns 'age' and 'fare' to normalize
titanic_numeric = titanic[['age', 'fare']]

In [5]:
# Step 4: Replace missing values in 'age' with average age (mean)
titanic_numeric['age'] = titanic_numeric['age'].fillna(titanic_numeric['age'].mean())

C:\Users\User\AppData\Local\Temp\ipykernel_2452\2291634918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_numeric['age'] = titanic_numeric['age'].fillna(titanic_numeric['age'].mean())

In [6]:
# Step 5: Create the scaler object to do min-max normalization
scaler = MinMaxScaler()

In [11]:
# Step 6: Apply normalization - fit scaler and transform data
titanic_normalized = scaler.fit_transform(titanic_numeric)

In [12]:
# Step 7: Convert the normalized numpy array back to a DataFrame for easy reading
titanic_normalized_df = pd.DataFrame(titanic_normalized, columns=titanic_numeric.columns)

In [13]:
# Step 8: Print first 5 rows of normalized data to check results
print(titanic_normalized_df.head())

        age      fare
0  0.271174  0.014151
1  0.472229  0.139136
2  0.321438  0.015469
3  0.434531  0.103644
4  0.434531  0.015713